<section id="rd_qvModal" class="modal fade" aria-hidden="false" role="dialog" tabindex="-1">
	<h3 class="form-label d-none">Qickview</h3>
  <div class="modal-dialog modal-dialog-centered modal-lg modal-xl">
    <div class="modal-content rounded">
	    <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
      <div class="content-item product-quickview-content"></div>
    </div>
  </div>
</section>