
<section class="{{section.id}} container-fluid wide">
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'parent' %}
      {%- assign parent_id = block.settings.block_id -%}
        <div class="col-md-6">
          <div>
            <span class="preheading">{{block.settings.pre_heading}}</span>
            <h3 class="custom-title-h3">{{block.settings.title}}</h3>
          <div>
            {%- for block in section.blocks -%} 
              {% case block.type %}
                {% when 'child' %}
                  {% if block.settings.parent_id == parent_id %}
                    <div class="block-content">
                      {{block.settings.content}}
                    </div>
                    {%- else -%}
                    {%- continue -%}   
                  {% endif %}
              {% endcase %}
            {%- endfor -%}
        </div> 
  {% endcase %}
{% endfor %}
</section>

{% schema %}
{
  "name": "Store Locater",
  "tag": "section",
  "class": "store-locater",
  "settings": [],
  "blocks": [
    {
      "type": "parent",
      "name": "parent",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "pre heading",
          "id": "pre_heading"
        },
        {
          "type": "number",
          "label": "block id",
          "id": "block_id",
          "info": "it used to assign child with same id "
        }
      ]
    },
    {
      "type": "child",
      "name": "child",
      "settings": [
        {
          "type": "html",
          "label": "Content",
          "id": "content"
        },
        {
          "type": "number",
          "label": "Parent Id",
          "id": "parent_id",
          "info": "It is used to select parent"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Store Locater"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}