 /* multistep form */
 .step--1:not(.show),.step--2:not(.show){
    display:none;
 }
 input.error{
border-color: rgb(226, 11, 11);
 }
 .register-beck-step-toggler,.login-beck-step-toggler{
margin-top: 15px;
 }
 /* multistep form end */

/* header custome css */
.social-facebook{
  color:#700073;
}
.nav-box{
 --bg-box:#faf5fa !important;

}

.menu-vertical .--title{
  color:#781d7e;
}
.menu-vertical .i-megamn.--vt .sub-mn{
  height:100%;
  background-color:#d6dbe6;
  color:#3c3c3c;
}
.mn-lv1.mn-i.show-submn>.sub-mn{
      transform: translateY(0);
}
.main-mn>.mn-i>a{
    padding: 20px 12px;
}
.main-mn>li:not(:last-child):hover{
  background-color:#781d7e;
}
.main-mn>li:hover:not(:last-child) > a{
  color:#fff;
}
.sub-mn{
  background-color:transparent;
  box-shadow:none;
}
.sub-mn span{
  white-space:nowrap;
}
li:hover .sub-mn{
/*     left:0 !important; */
}
[class^=d-icon-]:before, [class*=" d-icon-"]:before {
  color:#700073;
}
.mn-lv1.mn-has-child.show-submn:before{
    content: "";
    position: fixed;
    width: 100%;
    left: 20px;
    top: 178px;
    max-width: 1000px;
    height: 100vh;
    max-height: 350px;
    background: #faf5fa;
    z-index: 5;
}
.onsticky .mn-lv1.mn-has-child.show-submn:before{
  top: 120px;
}
.item-7057bc14-9e9f-49b3-a360-2b5f6ad6857e:before{
  display:none !important;
}
.item-7057bc14-9e9f-49b3-a360-2b5f6ad6857e .sub-mn{
  background:#faf5fa;
} 
.icon-pdf{
  width:20px;
  margin-right:5px;
}
/* default btn secendory  override  */
.btn-secondary.btn-outline{
   border-color:#fff;
  color:#fff;
}
.vtm.btn{
  margin-top:20px;
}
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover{
  border-color:#fff;
    background-color:#fff;
  color:#700073;
}
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover{
  border-color:#fff;
    background-color:#fff;
  color:#700073;
}
.vtm.inverse{
  background-color:#700073;
  color:#fff;
}
.vtm.inverse:hover{
  background-color:transparent;
   color:#700073;
}

/* default btn secendory  override  end */
/* header custome css end */

/* footer custome css  */
.rd_call_to_action .cta-title,.rd_call_to_action .cta-desc{
  color:#700073 !important;
}
#shopify-section-template--18286564376879__3bdcf2d4-6aee-4bc3-9de5-21a1ad0f7deb{
  background-color:#d3f6fe!important;
}
/* footer custome css  end */