 /* multistep form */
 .step--1:not(.show),.step--2:not(.show){
    display:none;
 }
 input.error{
border-color: rgb(226, 11, 11);
 }
 .register-beck-step-toggler,.login-beck-step-toggler{
margin-top: 15px;
 }
 /* multistep form end */

/* header custome css */
.social-facebook{
  color:#700073;
}
.nav-box{
 --bg-box:#faf5fa !important;

}
.menu-vertical .--title{
  color:#781d7e;
}
.menu-vertical .i-megamn.--vt .sub-mn{
  height:100%;
  background-color:#d6dbe6;
  color:#3c3c3c;
}
.mn-lv1.mn-i.show-submn>.sub-mn{
      transform: translateY(0);
}
.main-mn>.mn-i>a{
    padding: 20px 12px;
}
/* header custome css end */