{%layout none%}
<div class="sticky-icon-links" style="">
	<ul>
		<li>
			<a class="demo-toggle" data-bs-toggle="offcanvas" href="#riodeDemo" role="button" aria-controls="riodeDemo">
				<i class="fas fa-home"></i>
				<span>Demos</span>
			</a>
		</li>
		<li>
			<a href="https://kitisummus.gitbook.io/riode/" target="_blank">
				<i class="fas fa-info-circle"></i>
				<span>Documentation</span>
			</a>
		</li>
		<li>
			<a href="https://support.the4.co/ticket/" target="_blank">
				<i class="fas fa-comments"></i>
				<span>Support</span>
			</a>
		</li>
		<li>
			<a href="https://themeforest.net/downloads/" target="_blank">
				<i class="fas fa-star"></i>
				<span>Reviews</span>
			</a>
		</li>
		<li>
			<a href="https://themeforest.net/item/riode-multipurpose-shopify-theme/36683685" target="_blank">
				<i class="fas fa-shopping-cart"></i>
				<span>Buy now!</span>
			</a>
		</li>
	</ul>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="riodeDemo" aria-labelledby="riodeDemoLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-white" id="riodeDemoLabel">DEMO</h5>
    <button type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  	<div class="demos">
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=1&preview_theme_id=126919835802" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/02_Home01.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 1</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=1&preview_theme_id=126919835802" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=2&preview_theme_id=126919901338" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/03_Home02.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 2</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=2&preview_theme_id=126919901338" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=4&preview_theme_id=126920458394" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/05_Home04.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 4</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=4&preview_theme_id=126920458394" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=5&preview_theme_id=126988779674" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/06_Home05.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 5</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=5&preview_theme_id=126988779674" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=6&preview_theme_id=127228444826" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/07_Home06.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 6</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=6&preview_theme_id=127228444826" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=7&preview_theme_id=127250301082" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/08_Home07.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 7</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=7&preview_theme_id=127250301082" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=8&preview_theme_id=127300927642" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/09_Home08.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 8</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=8&preview_theme_id=127300927642" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=09&preview_theme_id=127371378842" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/10_Home09.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 9</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=09&preview_theme_id=127371378842" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=10&preview_theme_id=127411814554" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/11_Home10.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 10</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=10&preview_theme_id=127411814554" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=11&preview_theme_id=127620219034" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/12_Home11.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 11</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=11&preview_theme_id=127620219034" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=12&preview_theme_id=127691882650" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/13_Home12.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 12</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=12&preview_theme_id=127691882650" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=13&preview_theme_id=129663139994" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/14_Home13.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 13</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=13&preview_theme_id=129663139994" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=14&preview_theme_id=130187853978" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/15_Home14.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 14</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=14&preview_theme_id=130187853978" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=15&preview_theme_id=128325156964" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/16_Home15.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 15</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=15&preview_theme_id=128325156964" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=16&preview_theme_id=127982698650" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/17_Home16.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 16</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=16&preview_theme_id=127982698650" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=17&preview_theme_id=128029458586" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/18_Home17.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 17</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=17&preview_theme_id=128029458586" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=18&preview_theme_id=130381709466" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/19_Home18.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 18</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=18&preview_theme_id=130381709466" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=19&preview_theme_id=128116555930" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/20_Home19.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 19</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=19&preview_theme_id=128116555930" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=20&preview_theme_id=128306413668" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/21_Home20.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 20</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=20&preview_theme_id=128306413668" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=31&preview_theme_id=128340852836" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/32_Home31.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 31</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=31&preview_theme_id=128340852836" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="https://riode-demo-1.myshopify.com/?home=35&preview_theme_id=130517467290" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/36_Home35.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 35</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="https://riode-demo-1.myshopify.com/?home=35&preview_theme_id=130517467290" target="_blank" rel="noreferrer"><i class="far fa-eye"></i></a>
		    </div>
		  </div>
		  <hr style="padding: 10px;flex: 0 0 100%;max-width: 100%;">
		  <h6 style="padding: 10px;flex: 0 0 100%;max-width: 100%;" class="text-white h3">Items Coming Soon...</h6>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/04_Home03.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 3</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/22_Home21.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 21</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/23_Home22.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 22</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/24_Home23.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 23</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/25_Home24.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 24</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/26_Home25.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 25</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/27_Home26.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 26</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/28_Home27.jpg?v=1647397895" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 27</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/29_Home28.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 28</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/30_Home29.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 29</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/31_Home30.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 30</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/33_Home32.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 32</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/34_Home33.jpg?v=1647397895" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 33</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		  <div class="demo-wrapper">
		    <a href="#" target="_blank" rel="noreferrer">
		      <img src="https://cdn.shopify.com/s/files/1/0568/7902/2234/files/35_Home34.jpg?v=1647397894" alt="Riode Shopify Demo Template" width="500" height="375" loading="lazy">
		      <div class="demo-title">
		        <span>Demo 34</span>
		      </div>
		    </a>
		    <div class="demo-links">
		      <a class="wpb-link" href="#" target="_blank" rel="noreferrer"><i class="far fa-eye-slash"></i></a>
		    </div>
		  </div>
		</div>
  </div>
</div>
<style>
	.sticky-icon-links {
    position: fixed;
    right: 10px;
    top: 200px;
    z-index: 10
	}

	@media (max-width: 767px) {
    .sticky-icon-links,.demos-list {
      display:none
    }
	}

	.sticky-icon-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0
	}

	.sticky-icon-links li:not(:last-child) {
    margin-bottom: 5px
	}

	.sticky-icon-links .fa-shopping-cart:before {
    margin-left: -2px
	}

	.sticky-icon-links li a {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #33363b;
    color: #fff;
    overflow: hidden;
    transition: color .3s,background-color .3s
	}

	.sticky-icon-links li:nth-child(5) a {
    background: var(--rio-primary-color,#27c)
	}

	.sticky-icon-links li a:hover span {
    width: 125px;
    padding-right: 10px
	}

	.sticky-icon-links li:nth-child(1) a:hover span {
    width: 62px
	}

	.sticky-icon-links li:nth-child(3) a:hover span {
    width: 70px
	}

	.sticky-icon-links li:nth-child(4) a:hover span {
    width: 70px
	}

	.sticky-icon-links li:nth-child(5) a:hover span {
    width: 80px
	}

	.sticky-icon-links li i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    font-size: 20px
	}

	.sticky-icon-links li span {
    display: inline-block;
    white-space: nowrap;
    width: 0;
    text-transform: capitalize;
    font-weight: 600;
    transition: width .3s
	}
	div#riodeDemo {
    width: 600px;
    background: #282B30;
	}
	@media (min-width: 1921px){	
		div#riodeDemo .offcanvas-header {
	    padding: 1rem 35px;
		}
	}
	.demos-list.show {
    opacity: 1;
    visibility: visible
	}

	.demos-list .demos-close {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: transform .3s
	}

	.demos-list .close-icon:after,.demos-list .close-icon:before {
    background-color: #fff
	}

	.demos-list .demos-close:hover {
    opacity: 1;
    transform: scale(1.1) rotateZ(180deg)
	}

	.demos-content .d-loading {
    background: none
	}

	.demos-list.show .demos-content {
    transform: translateX(0)
	}

	.demos {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding: 5px 20px;
    letter-spacing: -.025em;
    text-align: center
	}

	.demos-title {
    padding-top: 40px;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #fff
	}

	.demos .demo-wrapper {
    padding: 10px;
    flex: 0 0 50%;
    max-width: 50%
	}

	.demos .demo-wrapper,.demos a,.demos a.active {
    position: relative;
    color: #fff
	}

	.demos .demo-wrapper img,.demos a.active img,.demos a img {
    transition: transform .3s
	}

	.demos .demo-wrapper .demo-links,.demos a.active .demo-links,.demos a .demo-links {
    position: absolute;
    right: 20px;
    top: 20px
	}

	.demos .demo-wrapper .demo-links>a,.demos a.active .demo-links>a,.demos a .demo-links>a {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity .3s,transform .3s,background-color .3s
	}

	.demos .demo-wrapper:hover img,.demos a.active:hover img,.demos a:hover img {
    transform: translateY(-5px)
	}

	.demos .demo-wrapper:hover .demo-links>a,.demos a.active:hover .demo-links>a,.demos a:hover .demo-links>a {
    opacity: 1;
    transform: translateX(0)
	}

	.demos .demo-links>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-color: #33363b;
    background-position: center;
    background-repeat: no-repeat
	}

	.demos .demo-links>a+a {
    margin-top: 10px
	}

	.demos .demo-links>a:hover {
    background-color: #1c72dd
	}

	.demo-links .wpb-link {
    /*background-image: url(/wordpress/riode/demo-1/wp-content/plugins/riode-demo-plugin/assets/images/icon-wpbakery.png)*/
	}

	.demo-links .elementor-link {
    /*background-image: url(https://cdn.shopify.com/s/files/1/0568/7902/2234/files/icon-elementor.png?v=1649930677)*/
	}

	.demos a {
    display: inline-block
	}

	.demos .demo-wrapper:hover svg {
    transition: transform .3s
	}

	.demos .demo-wrapper a.disabled {
    opacity: .2;
    pointer-events: none
	}

	.demos svg {
    vertical-align: -8px;
    fill: #fff
	}

	.demos img {
    display: block;
    margin: auto;
    border-radius: 3px;
    width: 100%;
    background: #31363e
	}

	.demo-wrapper>a {
    width: 100%
	}

	.demo-wrapper .demo-title {
    display: inline-block;
    margin: -26px 0 1.25vw;
    padding: .95em 2.8em;
    background-color: #33363b;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 150px;
    backface-visibility: hidden
	}

	.demo-wrapper .demo-title:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 0;
    height: 0;
    transform: translate(-50%,-50%);
    background: linear-gradient(104deg,#1c72dd,#5349ff);
    border-radius: 50%;
    opacity: .2;
    transition: .3s
	}

	.demo-wrapper .demo-title span:before {
    content: "";
    display: inline-block;
    background: url(https://cdn.shopify.com/s/files/1/0568/7902/2234/files/demo-shape.png?v=1649930677) center no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 5px
	}

	.demo-wrapper a:hover .demo-title:before {
    width: 350%;
    padding-top: 200%;
    opacity: 1
	}
</style>